<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <nav id="nav" class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "アカウント作成" %></li>
            <li><%= link_to "ログイン" %></li>
          </ul>
        </div>
      </nav>
      <!-- <div class="jumbotron">ここに写真が来る</div> -->
      <div class="jumbotron"><h1>TwiitercloneをBootstrapで実装</h1></div>
      <div class="row">

        <aside class=" hidden-xs col-md-3 col-lg-3 maincontents1">
          <article class="">
            <h2>ここにイメージ画像を入れる</h2>
            <ul class="">
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
            </ul>
          </article>
        </aside>
        <div class="col-xs-12 col-md-6 col-lg-6 text-center maincontents2">
          <%= yield %>
        </div>
        <aside class="hidden-xs col-md-3 col-lg-3 maincontents3">
          <article class="">
            <h2>ここにプロフィールを入れる</h2>
            <ul class="">
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
              <li>ダミー</li>
            </ul>
          </article>
        </aside>

        <footer class="footer">
          <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
          </div>
        </footer>
      </div>
    </div>
      <!-- flashにメッセージがある時 -->
    <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
    <% end %>
  </body>
</html>
